mixin head({ title=projectName, favicon="@files/favicon/favicon.png" } = {})
  // HEAD
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href=`${favicon}` type="image/x-icon")
    title= title

    block

mixin card({ i, classPrefix, imgPrefix, isSlide, tag="" } = {})
  // CARD
  article(class=`${classPrefix}__card ${isSlide ? 'swiper-slide' : ''}`)
    if tag
      span(class=`${classPrefix}__tag`)= tag

    img(src=`@img/${imgPrefix}${i + 1}.png`, alt=`${imgPrefix}` class=`${classPrefix}__img`)

    // CARD DATA
    block

mixin featuredCard({ i, card: { title, price }} = {})
  +card({ i, classPrefix: "featured", imgPrefix: "featured", tag: "Sale" })
    block cardData
      .featured__data
        h3.featured__title= title
        span.featured__price= `$${price}`

      button.button.featured__button ADD TO CART

mixin productsCard({ i, card: { title, price }} = {})
  +card({ i, classPrefix: "products", imgPrefix: "product" })
    block cardData
      h3.products__title= title
      span.products__price= `$${price}`

      button.products__button
        i.bx.bx-shopping-bag

mixin testimonialCard({ i, card: { name }} = {})
  // TESTIMONIAL CARD
  .testimonial__card.swiper-slide

    .testimonial__quote
      i.bx.bxs-quote-alt-left

    p.testimonial__description.
      They are the best watches that one acquires, also they are always with the latest news and trends, with a very comfortable price and especially with the attention you receive, they are always attentive to your questions.

    h3.testimonial__date Match 27. 2021

    // TESTIMONIAL PERFIL
    .testimonial__perfil
      img.testimonial__perfil-img(src=`@img/testimonial${i + 1}.jpg`, alt="testimonial")

      .testimonial__perfil-data
        span.testimonial__perfil-name= name
        span.testimonial__perfil-detail Director of a company

mixin newCard({ i, card: { title, price }} = {})
  +card({ i, classPrefix: "new", imgPrefix: "new", isSlide: true, tag: "New" })
    block cardData
      .new__data
        h3.new__title= title
        span.new__price= `$${price}`

      button.button.new__button ADD TO CART     

mixin footerContent({ title, links } = {})
  // FOOTER CONTENT
  .footer__content
    h3.footer__title= title

    // FOOTER LINKS
    ul.footer__links
      each link in links
        li
          a.footer__link(href="#")= link
