mixin head({ title=projectName, favicon="@files/favicon/favicon.png" } = {})
  // HEAD
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href=`${favicon}` type="image/x-icon")
    title= title

    block

mixin card({ i, classPrefix, imgPrefix, isSale=false } = {})
  // CARD
  article(class=`${classPrefix}__card`)
    if isSale
      span(class=`${classPrefix}__tag`) Sale

    img(src=`@img/${imgPrefix}${i + 1}.png`, alt=`${imgPrefix}` class=`${classPrefix}__img`)

    // CARD DATA
    block

mixin featuredCard({ i, card: { title, price }} = {})
  +card({ i, classPrefix: "featured", imgPrefix: "featured", isSale: true })
    block cardData
      .featured__data
        h3.featured__title= title
        span.featured__price= `$${price}`

      button.button.featured__button ADD TO CART

mixin productsCard({ i, card: {title, price }} = {})
  +card({ i, classPrefix: "products", imgPrefix: "product" })
    block cardData
      h3.products__title= title
      span.products__price= `$${price}`

      button.products__button
        i.bx.bx-shopping-bag
